/* body style work start here */
body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;

}

/* navbar style work start here */
nav {
    background: #FFF8F3;
    display: flex;
    justify-content: space-between;
    padding: 0 200px;
}

.nav-logo {
    color: #181818;
    text-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 40px;
    font-weight: 800;

}

.nav-logo-dc {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #474747;
    font-size: 16px;
    font-weight: 400;
}

.com-btn {
    border-radius: 5px;
    background: #FD6E0A;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border: 0;
    padding: 15px 35px;
}

/* header style work start here */
.header{
    background-color: #FFF8F3;
    background-image: url('../img/header_bg.png'), url('../img/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, bottom left;
}

/* banner style work start here */
.banner {
    padding: 30px 30px 0px 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-btn2 {
    border-radius: 5px;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    font-weight: 700;
    border: 1px solid #FD6E0A;
    padding: 15px 35px;
    margin-left: 10px;
}

.banner-greeting {
    color: #474747;
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 0;

}

.banner-title {
    color: #181818;
    font-size: 75px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom: 20px;

}

.banner-des {
    max-width: 500px;
    color: #757575;
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
}

.banner-pic {
    width: 450px;
    margin-left: 50px;
}

/* main section style work start here */
main {
    max-width: 1000px;
    margin: 0 auto;
}

main section {
    margin-top: 130px;
}

/* about section style work start here */
.about {
    border-radius: 10px;
    background-color: #FFEADC;
    padding: 100px 130px;
    text-align: center;
}

.section-title {
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
}

.section-des {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
}

.about-info-content {
    display: flex;
    justify-content: space-between;
}

.about-info {
    text-align: center;
    font-size: 16px;
    line-height: 30px;

}

.info-title {
    color: #757575;
    font: 400;

}

.info-des {
    color: #474747;
    font-weight: 700;

}

/* Our work section style work start here */
.projects {
    border-radius: 10px;
    text-align: center;

}

#project-des-area {
    padding: 0 150px;
}

.skills-content {
    display: flex;
    text-align: center;
}

.skills-info {
    width: 260px;
    padding: 30px;
    text-align: left;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.09);
    margin: 10px;
}

.img {
    width: 44px;
    height: 44px;
}

.skills-info-title {
    color: #181818;
    font-size: 18px;
    font-weight: 700;
}

.skills-info-des {
    color: #757575;
    font-size: 14px;
    line-height: 28px;
    font-weight: 400;
}

/* resume-content style start here */
.resume-content {
    display: flex;
}

.resume-column {
    margin: 24px;
}

.resume-column-title {
    color: #474747;
    font-size: 26px;
    font-weight: 700;
}

hr {
    color: #EEEEEE !important;
}

.resume-item {
    padding-right: 60px;
}

.resume-item-title {
    color: #474747;
    font-size: 20px;
    font-weight: 700;
}

.resume-item-institude-info {
    color: #757575;
    font-size: 16px;
    font-weight: 600;

}

.resume-item-des {
    color: #757575;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;

}

.btn-style {
    text-align: center;
}

footer {
    padding: 100px;
    margin: 100px auto;
    display: flex;
    gap: 100px;
    background-color: #FFEADC;
}
.footer-coloum{
    width: 50%;
    
}
.footer-title {
    color: #181818;
    font-size: 25px;
    font-weight: 700;
}

.left-footer-des {
    padding-right: 60px;
    color: #474747;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
}
.footer-social-icon img{    
    width: 22px;
}

.contact-form input[type='text'], input[type='email'],textarea{
    display: block;
    margin-bottom: 25px;
    width: 100%;
    border: none;

}
.contact-form input[type='text'], input[type='email']{
    height: 50px;
}
::placeholder {
    padding: 10px;
  }